<h1 class="title">Todos os vídeos do Canal</h1>
<div class="row modal-demo">
    <div class="error" ng-if="!showVideos">
        <h4>{{message}}</h4>
    </div>
    <div class="row-no-padding">
        <div class="videos video-list media col-lg-4 col-md-4 col-sm-12 col-xs-12" 
            ng-repeat="video in videos track by $index"
            ng-if="video.id"
            ng-click="openModalVideo(video)">
            <div class="media-left">
                <img class="media-object video-thumbnail" ng-src="{{ video.snippet.thumbnails.medium.url }}">
            </div>
            <div class="media-body">
                <h4 class="media-heading video-title">
                    {{ video.snippet.title | limitTo:50 }}{{ video.snippet.title.length > 50 ? '…' : '' }}
                </h4>
                <p><i class="fa fa-eye video-icon" aria-hidden="true"></i> {{ video.statistics.viewCount | number }} views</p>
            </div>
        </div>
    </div>
</div>
<div class="button-section">
    <div class="loading" ng-if="loading">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
    <button 
        ng-if="!loading && nextPage"
        ng-click="loadMoreVideos()"
        type="button" 
        class="btn btn-default load-more">
        Carregar Mais vídeos...
    </button>
</div>