$pink: #A7395C;
$dark-pink: #9b2f51;
$pink-title: #A8395C;

$light-white: #c8c8c8;
$white: #FFFFFF;
$black: #000000;
$red: #FF0000;

$light-grey: #f2f2f2;
$grey: #c7c7c7;
$dark-grey: #4c4c4c;
$medium-grey: #797979;

$light-blue: #5fbdd5;