::-webkit-input-placeholder {
   color: #ffffff !important;
}

:-moz-placeholder {
   color: #ffffff !important;
}

::-moz-placeholder {
   color: #ffffff !important;
}

:-ms-input-placeholder {
   color: #ffffff !important;
}